.contenedor-fondo {
    background-image: url('/Images/ResidenEvil4.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    opacity: 0.15;
    z-index: -1;
    width: 100%;
    height: auto;
  }
.BlackBackground {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    opacity: 1;

  }
.navbar {
  position: sticky;
}

.blancotxt {
  color: white;
}