body {
    background: rgb(8,28,34);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 50%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: whitesmoke;
    font-size: 20px;
    padding: 20px;
}

button {
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(5, 129, 245);
    color: whitesmoke                                   
}

@media screen and (max-width:630px) {
    h1{
        font-size: 20px;
    }
} 
