
/*navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


nav{
    background: #00b2b1 ;
    height: 80px;
    width: 100%;
}



/*sobre nosotros*/

  
  main {
    padding: 2vw;
      
      justify-content: center;
      align-items: center;
  }


body{
  background-image: url(https://static.videezy.com/system/resources/thumbnails/000/009/069/original/shining-rays-of-blue-4k-motion-background.jpg);

}

    



/*footer*/



footer{
    background-color:  #004056;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px; 
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
    text-decoration: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color:  #004056; 
    padding: 20px;
    text-align: center;
}


.footerBottom p{
    color: white;
}

.diseño{
    opacity: calc(0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400   ;
    margin: 0px 5px ;
}

@media(max-width:700px){
    .footerNav ul{
        flex-direction: column
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px; 
    }
}
